{% load pagination_tags memory_tags i18n%}
<!DOCTYPE html> 
<html> 
<head> 
<title>memory</title> 
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<style type="text/css">
body{margin:0;padding:0}
ul{position:relative}
li{width:250px;border:1px solid #ccc;border-radius:5px;list-style:none;position:absolute;margin:10px;background:#CCC}
ul li p{font-size:12px;word-break:break-all;word-wrap:break-word;}
li.a {height:350px;}
li.b {height:200px;}
li.hide{opacity:0}
</style>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/memory/setwaterfall.js"></script>
<script>
$(function(){
	href = '{% url index_test %}';
	$("li").setwaterfall();
	var page = 1;      //显示第几页
	var pagesize = 15;  //每页显示数量
	$(window).bind("scroll",function () {
		var clienth = document.documentElement.clientHeight;  //屏幕高度
		var scrollt = document.documentElement.scrollTop + document.body.scrollTop; //滚动高度
		var scrollh = document.documentElement.scrollHeight;  //页面高度
		if (clienth + scrollt >= scrollh - 20 && !$("#stopload").val()) {
			jQuery.DataLoad();

		}
	});
	var a = {};

	function isEmptyObject(obj){
	  for (var x in obj){
	    return false;
	  }
	  return true;
	} 

	jQuery.DataLoad = function(){
		page++
		$.ajax({
			url: href,   //测试地址,返回JSON数据
			type:"get",
			//dataType: 'jsonp',
			data: {page: page},
			beforeSend: function(){ $("#loading").fadeIn(400); },
			success: function(data){
				if(data){
					$("#loading").hide();
					$("ul").append(data);
					$("li").setwaterfall();
					$(".hide").animate({opacity:1},2000);
				}else{
					$("#loading").hide();
					$("#stopload").val(1);
				}	
			}
		});
	}	
	jQuery.DataLoad();
});
</script>
</head> 
<body> 

<ul>
	{% include "memory/memory_container.html" %} 
</ul>
<div style="display:none;background:#CCC;color:#333;margin:20px 0;height:30px;text-align:center;font:bold 15px/30px '宋体'" id="loading">努力加载中，请稍后...</div>
<div style="display:none;background:#CCC;color:#333;margin:20px 0;height:30px;text-align:center;font:bold 15px/30px '宋体'" id="stop">没有可加载的内容了...</div>
<input type="hidden" id="stopload" value=''>
</body>
</html>
