{% load pagination_tags memory_tags i18n%}
<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<title>demo</title>
<link href="{{ STATIC_URL }}css/base.css" rel="stylesheet" type="text/css"/>
<style type="text/css">
/* 背景色和背景图 */
body{background-color:#fff;background-image:url(images/bg.png);background-repeat:repeat;}
/* 侧栏：文字色和分割线颜色 */
.b1{border-color:#96999D;}
.c1,.c1 a{color:#96999D;}
/* 侧栏：文字色hover色 */
a.c1:hover,.c1 a:hover{color:#000;}
/* 侧栏：博客名称色和hover色 */
.c2,a.c2:hover{color:#444;}
</style>
</head>
<body>
<!-- 侧边栏 -->
<!--div class="side">
  <div class="sbox">
    <div class="face">
      <a href="#"><img src="images/logo.jpg"/></a>
    </div>
    <h1 class="name c2"><a href="#" class="c2">文盲空间</a></h1>
    <p class="info c1">
    </p>
    <div class="line b1">
    </div>
    <ul class="nav clear c1">
      <li><a rel="nofollow" href="http://www.lofter.com/message/loftertxt">私信</a></li>
      <li><a href="#">归档</a></li>
      <li><a href="#">RSS</a></li>
    </ul>
    <div class="line b1">
    </div>

    <h2 class="next_page" style="font-size:17px;">
      <a href="ajax1.html">下一页→</a>
    </h2>
  </div>
</div-->
<!-- 内容 -->
<div class="body clear">
  <div class="list">
    {% autopaginate space 16 %}
    <div id="pagination" style="display:none">
    {% paginate %}</div>
    <ul class="clear" id="content">
      <!-- 文字 -->
      <!--li class="article post">
      <a href="#" class="link">
      <span class="text">
      <strong></strong>
      <em>LOFTER，既是一款简单随性的记录工具，又是一个推崇原创的创作平台。</em>
      </span>
      </a>
      </li-->
      <!-- 图片 -->
    
    {% include "memory/test_one_container.html" with page_data=page_data %} 
    </ul>
  </div>
</div>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery/jquery.masonry.min.js"></script>
<script type="text/javascript">
$(function(){
  
var startHref ;
var page_start = 1
var page_end = $("#pagination a.next").prev().text()
var base_url = '{% url test1 %}'
  //对content使用masonry插件
  $('#content').masonry({
    itemSelector : '.post',
    columnWidth : 251
  });
  
  function next_page(){
    
    //首先取得下一页的链接地址
    if(page_start >= page_end){
      console.log("下一页没有了")
      $("#pagination a.next").html("下一页没有了").removeAttr("href")
    }else{
      page_start += 1
      $("#pagination a.next").attr("href",base_url + "?page=" + page_start)
    }
    var href=$("#pagination a.next").attr("href")
    
    startHref = href;
    //判断下一页的链接地址是否存在
    if( href != undefined ){
      
      //如果存在的话，用ajax获取数据
      $.ajax({
        type:"get",
        url:href,
        success:function(data){
          //将返回的数据进行处理，挑选出class是post的内容块
          //var $res=$(data).find(".post");
          
          //结合masonry插件，将内容append进ID是content的内容块中
          $("#content").append( data ).masonry( 'appended', data );
          
          //判断下一页地址是否存在，如果存在，替换当前页的链接地址。不存在，将当前页链接地址属性href移除，并替换内容为“下一页没有了
        }
      })
    }
  
    //返回false，使得点击进入新页面失效
    return false;
  }
  
      //首先给窗口绑定事件scroll
  
    
  $(window).bind("scroll",function () {
    console.log("scroll");
    var clienth = document.documentElement.clientHeight;  //屏幕高度
    var scrollt = document.documentElement.scrollTop + document.body.scrollTop; //滚动高度
    var scrollh = document.documentElement.scrollHeight;  //页面高度
    if (clienth + scrollt >= scrollh - 20 ) {
      next_page();
    }
  });
});
</script>
</body>
</html>