
{% load pagination_tags memory_tags i18n%} 
{% for i in page_data %}
<li class="photo post">
      <a href="#" class="link">
      <span class="img">
      <img src="http://zhuyuan.oss.aliyuncs.com/tile/thumbs/bc1f1b5bf8bfd4f12e5de2.jpg.192x0_q85_crop.png"/>
      <span class="arr"><span></span></span>
      </span>
      <span class="text">
      <em><b>LOFTER——专注兴趣，分享创作</b>
      <p>
        LOFTER是网易2011年8月中旬推出的一款轻博客，并首次采用独立域名LOFTER.COM
      </p>
      LOFTER一词是LOFT的引申，LOFT的意思是宽广开放的自由创作空间，而在这空间里专注兴趣，分享创作的人，自然就是LOFTER。</em>
      </span>
      </a>
      </li>
{% endfor %}




